
.homepageContainer {
  width: 100%;
  max-width: 1200px; /* Limita a largura */
  margin: 0 auto;    /* Centraliza */
  padding: 40px 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza tudo */
}

.mainTitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Arial';
  color: #071D41; 
  margin-bottom: 40px;
}

.cardsGrid {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 30px; 
  margin-bottom: 60px;
  width: 100%; 
}


.innovationSection {
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  position: relative; 
  min-height: 250px; 
}

.slideContent {
  animation: fadeIn 0.5s ease-in-out;
}

.innovationTitle {
  font-family: 'Arial';
  font-size: 2.2rem;
  color: #071D41;
  font-weight: bold;
  margin-bottom: 20px;
}

.innovationSection p {
  font-family: 'Arial';
  font-size: 1.2rem;
  color: black;
  line-height: 1.6;
  /* Altura mínima para o parágrafo */
  min-height: 100px; 
  padding: 0 10px; /* Evita que o texto cole nas bordas */
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}